



body{width:20vw;
padding: 5vw 37vw;
    
}

.display{padding:2vw;
flex: 1 53%;
background-color:#64B255;
color:white;
text-align:right;



}

.clear:hover{
    background-color :#82C276
}

#buttons{
    display:flex;
    flex-wrap:wrap

}

.operators{background-color:#82C276;
padding:2vw;
flex: 1 25%;
color:black;
}
.operators:hover{ color:white;}

button{ background-color:#64B255;
padding:2vw;
flex: 1 25%;
color:white}





